<% if current_user.clock_sessions.last.clock_out.blank? %>
  <h3 class="indent-major-header">New Session for <%= @user_full_name %></h3>
  <%= form_with(model: @clock_session) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Clock In", class: "btn btn-success clock-in indent-button" %>
  <% end %>
<% end %>
