// Place all the styles related to the ClockSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indent-major-header, .indent-button, .session-times-submit, #begin_year, #begin_month, #begin_day, #end_year, #end_month, #end_day, .total-session-time {
  position: relative;
  left: 25px;
  clear: both;
}

.indent-button, .session-times-submit {
  margin-bottom: 10px;
}

.indent-minor-header {
  position: relative;
  left: 45px;
  clear: both
}

.datetime-row {
  position: relative;
  clear: both;
}

.top-major-header {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
}

.new-user {
  position: relative;
  left: 15px;
}

#begin_year, #begin_month, #begin_day {
  margin-bottom: 10px;
}

#begin_year, #end_year {
  width: 50px;
}

#begin_month, #end_month{
  width: 80px;
}

#begin_day, #end_day {
  width: 40px;
}

.begin-label, .end-label {
  margin-left: 25px;
}

#total-session-time-for-user {
  margin-left: 10px;
}
